<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LocationStartEditDlg" widgetVar="LocationStartEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditLocationStartTitle}">
            <h:form id="LocationStartEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{locationStartController.selected != null}">
                        <p:outputLabel value="#{bundle.EditLocationStartLabel_datetimeloc}" for="datetimeloc" />
                        <p:inputText id="datetimeloc" value="#{locationStartController.selected.datetimeloc}" title="#{bundle.EditLocationStartTitle_datetimeloc}" />
                        <p:outputLabel value="#{bundle.EditLocationStartLabel_place}" for="place" />
                        <p:inputText id="place" value="#{locationStartController.selected.place}" title="#{bundle.EditLocationStartTitle_place}" />
                        <p:outputLabel value="#{bundle.EditLocationStartLabel_coords}" for="coords" />
                        <p:inputText id="coords" value="#{locationStartController.selected.coords}" title="#{bundle.EditLocationStartTitle_coords}" />
                        <p:outputLabel value="#{bundle.EditLocationStartLabel_type}" for="type" />
                        <p:inputText id="type" value="#{locationStartController.selected.type}" title="#{bundle.EditLocationStartTitle_type}" />
                        <p:outputLabel value="#{bundle.EditLocationStartLabel_name}" for="name" />
                        <p:inputText id="name" value="#{locationStartController.selected.name}" title="#{bundle.EditLocationStartTitle_name}" required="true" requiredMessage="#{bundle.EditLocationStartRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditLocationStartLabel_descr}" for="descr" />
                        <p:inputText id="descr" value="#{locationStartController.selected.descr}" title="#{bundle.EditLocationStartTitle_descr}" required="true" requiredMessage="#{bundle.EditLocationStartRequiredMessage_descr}"/>
                        <p:outputLabel value="#{bundle.EditLocationStartLabel_id}" for="id" />
                        <p:inputText id="id" value="#{locationStartController.selected.id}" title="#{bundle.EditLocationStartTitle_id}" required="true" requiredMessage="#{bundle.EditLocationStartRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditLocationStartLabel_client}" for="client" />
                        <p:selectOneMenu id="client" value="#{locationStartController.selected.client}" required="true" requiredMessage="#{bundle.EditLocationStartRequiredMessage_client}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clientController.itemsAvailableSelectOne}"
                                           var="clientItem"
                                           itemValue="#{clientItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{locationStartController.update}" value="#{bundle.Save}" update="display,:LocationStartListForm:datalist,:growl" oncomplete="handleSubmit(args, 'LocationStartEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LocationStartEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
