<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LocationStartViewDlg" widgetVar="LocationStartViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLocationStartTitle}">
            <h:form id="LocationStartViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{locationStartController.selected != null}">
                        <h:outputText value="#{bundle.ViewLocationStartLabel_datetimeloc}"/>
                        <h:outputText value="#{locationStartController.selected.datetimeloc}" title="#{bundle.ViewLocationStartTitle_datetimeloc}"/>
                        <h:outputText value="#{bundle.ViewLocationStartLabel_place}"/>
                        <h:outputText value="#{locationStartController.selected.place}" title="#{bundle.ViewLocationStartTitle_place}"/>
                        <h:outputText value="#{bundle.ViewLocationStartLabel_coords}"/>
                        <h:outputText value="#{locationStartController.selected.coords}" title="#{bundle.ViewLocationStartTitle_coords}"/>
                        <h:outputText value="#{bundle.ViewLocationStartLabel_type}"/>
                        <h:outputText value="#{locationStartController.selected.type}" title="#{bundle.ViewLocationStartTitle_type}"/>
                        <h:outputText value="#{bundle.ViewLocationStartLabel_name}"/>
                        <h:outputText value="#{locationStartController.selected.name}" title="#{bundle.ViewLocationStartTitle_name}"/>
                        <h:outputText value="#{bundle.ViewLocationStartLabel_descr}"/>
                        <h:outputText value="#{locationStartController.selected.descr}" title="#{bundle.ViewLocationStartTitle_descr}"/>
                        <h:outputText value="#{bundle.ViewLocationStartLabel_id}"/>
                        <h:outputText value="#{locationStartController.selected.id}" title="#{bundle.ViewLocationStartTitle_id}"/>
                        <h:outputText value="#{bundle.ViewLocationStartLabel_client}"/>
                        <h:outputText value="#{locationStartController.selected.client}" title="#{bundle.ViewLocationStartTitle_client}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LocationStartViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
