<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientCreateDlg" widgetVar="ClientCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateClientTitle}">
            <h:form id="ClientCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateClientLabel_id}" for="id" />
                        <p:inputText disabled="true" id="id" value="#{clientController.selected.id}" title="#{bundle.CreateClientTitle_id}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateClientLabel_name}" for="name" />
                        <p:inputText id="name" value="#{clientController.selected.name}" title="#{bundle.CreateClientTitle_name}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreateClientLabel_description}" for="description" />
                        <p:inputText id="description" value="#{clientController.selected.description}" title="#{bundle.CreateClientTitle_description}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_description}"/>
                        <p:outputLabel value="#{bundle.CreateClientLabel_type}" for="type" />
                        <p:inputText id="type" value="#{clientController.selected.type}" title="#{bundle.CreateClientTitle_type}" />
                        <p:outputLabel value="#{bundle.CreateClientLabel_address}" for="address" />
                        <p:inputText id="address" value="#{clientController.selected.address}" title="#{bundle.CreateClientTitle_address}" />
                        <p:outputLabel value="#{bundle.CreateClientLabel_datecreated}" for="datecreated" />
                        <p:inputText id="datecreated" value="#{clientController.selected.datecreated}" title="#{bundle.CreateClientTitle_datecreated}" />
                        <p:outputLabel value="#{bundle.CreateClientLabel_login}" for="login" />
                        <p:inputText id="login" value="#{clientController.selected.login}" title="#{bundle.CreateClientTitle_login}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_login}"/>
                        <p:outputLabel value="#{bundle.CreateClientLabel_status}" for="status" />
                        <p:selectOneMenu id="status" value="#{clientController.selected.status}" >
                            <f:selectItems value="#{clientStatusController.itemsAvailableSelectOne}"
                                           var="statusItem"
                                           itemLabel="#{statusItem.name}"
                                           itemValue="#{statusItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientController.create}" value="#{bundle.Save}" update="display,:ClientListForm:datalist,:growl" oncomplete="handleSubmit(args,'ClientCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClientCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
