<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientEditDlg" widgetVar="ClientEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditClientTitle}">
            <h:form id="ClientEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientController.selected != null}">
                        <p:outputLabel value="#{bundle.EditClientLabel_id}" for="id" />
                        <p:inputText disabled="true" id="id" value="#{clientController.selected.id}" title="#{bundle.EditClientTitle_id}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditClientLabel_name}" for="name" />
                        <p:inputText id="name" value="#{clientController.selected.name}" title="#{bundle.EditClientTitle_name}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditClientLabel_description}" for="description" />
                        <p:inputText id="description" value="#{clientController.selected.description}" title="#{bundle.EditClientTitle_description}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_description}"/>
                        <p:outputLabel value="#{bundle.EditClientLabel_type}" for="type" />
                        <p:inputText id="type" value="#{clientController.selected.type}" title="#{bundle.EditClientTitle_type}" />
                        <p:outputLabel value="#{bundle.EditClientLabel_address}" for="address" />
                        <p:inputText id="address" value="#{clientController.selected.address}" title="#{bundle.EditClientTitle_address}" />
                        <p:outputLabel value="#{bundle.EditClientLabel_datecreated}" for="datecreated" />
                        <p:inputText id="datecreated" value="#{clientController.selected.datecreated}" title="#{bundle.EditClientTitle_datecreated}" />
                        <p:outputLabel value="#{bundle.EditClientLabel_login}" for="login" />
                        <p:inputText id="login" value="#{clientController.selected.login}" title="#{bundle.EditClientTitle_login}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_login}"/>
                        <p:outputLabel value="#{bundle.EditClientLabel_status}" for="status" />
                        <p:selectOneMenu id="status" value="#{clientController.selected.status}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clientStatusController.itemsAvailableSelectOne}"
                                           var="statusItem"
                                           itemLabel="#{statusItem.name}"
                                           itemValue="#{statusItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientController.update}" value="#{bundle.Save}" update="display,:ClientListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ClientEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClientEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
