<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LocationEndCreateDlg" widgetVar="LocationEndCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateLocationEndTitle}">
            <h:form id="LocationEndCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{locationEndController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateLocationEndLabel_datetimeloc}" for="datetimeloc" />
                        <p:inputText id="datetimeloc" value="#{locationEndController.selected.datetimeloc}" title="#{bundle.CreateLocationEndTitle_datetimeloc}" />
                        <p:outputLabel value="#{bundle.CreateLocationEndLabel_place}" for="place" />
                        <p:inputText id="place" value="#{locationEndController.selected.place}" title="#{bundle.CreateLocationEndTitle_place}" />
                        <p:outputLabel value="#{bundle.CreateLocationEndLabel_coords}" for="coords" />
                        <p:inputText id="coords" value="#{locationEndController.selected.coords}" title="#{bundle.CreateLocationEndTitle_coords}" />
                        <p:outputLabel value="#{bundle.CreateLocationEndLabel_type}" for="type" />
                        <p:inputText id="type" value="#{locationEndController.selected.type}" title="#{bundle.CreateLocationEndTitle_type}" />
                        <p:outputLabel value="#{bundle.CreateLocationEndLabel_name}" for="name" />
                        <p:inputText id="name" value="#{locationEndController.selected.name}" title="#{bundle.CreateLocationEndTitle_name}" required="true" requiredMessage="#{bundle.CreateLocationEndRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreateLocationEndLabel_descr}" for="descr" />
                        <p:inputText id="descr" value="#{locationEndController.selected.descr}" title="#{bundle.CreateLocationEndTitle_descr}" required="true" requiredMessage="#{bundle.CreateLocationEndRequiredMessage_descr}"/>
                        <p:outputLabel value="#{bundle.CreateLocationEndLabel_id}" for="id" />
                        <p:inputText id="id" value="#{locationEndController.selected.id}" title="#{bundle.CreateLocationEndTitle_id}" required="true" requiredMessage="#{bundle.CreateLocationEndRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateLocationEndLabel_client}" for="client" />
                        <p:selectOneMenu id="client" value="#{locationEndController.selected.client}" required="true" requiredMessage="#{bundle.EditLocationEndRequiredMessage_client}">
                            <f:selectItems value="#{clientController.itemsAvailableSelectOne}"
                                           var="clientItem"
                                           itemValue="#{clientItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{locationEndController.create}" value="#{bundle.Save}" update="display,:LocationEndListForm:datalist,:growl" oncomplete="handleSubmit(args,'LocationEndCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LocationEndCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
