<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LocationEndViewDlg" widgetVar="LocationEndViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLocationEndTitle}">
            <h:form id="LocationEndViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{locationEndController.selected != null}">
                        <h:outputText value="#{bundle.ViewLocationEndLabel_datetimeloc}"/>
                        <h:outputText value="#{locationEndController.selected.datetimeloc}" title="#{bundle.ViewLocationEndTitle_datetimeloc}"/>
                        <h:outputText value="#{bundle.ViewLocationEndLabel_place}"/>
                        <h:outputText value="#{locationEndController.selected.place}" title="#{bundle.ViewLocationEndTitle_place}"/>
                        <h:outputText value="#{bundle.ViewLocationEndLabel_coords}"/>
                        <h:outputText value="#{locationEndController.selected.coords}" title="#{bundle.ViewLocationEndTitle_coords}"/>
                        <h:outputText value="#{bundle.ViewLocationEndLabel_type}"/>
                        <h:outputText value="#{locationEndController.selected.type}" title="#{bundle.ViewLocationEndTitle_type}"/>
                        <h:outputText value="#{bundle.ViewLocationEndLabel_name}"/>
                        <h:outputText value="#{locationEndController.selected.name}" title="#{bundle.ViewLocationEndTitle_name}"/>
                        <h:outputText value="#{bundle.ViewLocationEndLabel_descr}"/>
                        <h:outputText value="#{locationEndController.selected.descr}" title="#{bundle.ViewLocationEndTitle_descr}"/>
                        <h:outputText value="#{bundle.ViewLocationEndLabel_id}"/>
                        <h:outputText value="#{locationEndController.selected.id}" title="#{bundle.ViewLocationEndTitle_id}"/>
                        <h:outputText value="#{bundle.ViewLocationEndLabel_client}"/>
                        <h:outputText value="#{locationEndController.selected.client}" title="#{bundle.ViewLocationEndTitle_client}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LocationEndViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
