<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserStatusEditDlg" widgetVar="UserStatusEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUserStatusTitle}">
            <h:form id="UserStatusEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userStatusController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUserStatusLabel_id}" for="id" />
                        <p:inputText id="id" value="#{userStatusController.selected.id}" title="#{bundle.EditUserStatusTitle_id}" required="true" requiredMessage="#{bundle.EditUserStatusRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditUserStatusLabel_name}" for="name" />
                        <p:inputText id="name" value="#{userStatusController.selected.name}" title="#{bundle.EditUserStatusTitle_name}" required="true" requiredMessage="#{bundle.EditUserStatusRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditUserStatusLabel_description}" for="description" />
                        <p:inputText id="description" value="#{userStatusController.selected.description}" title="#{bundle.EditUserStatusTitle_description}" required="true" requiredMessage="#{bundle.EditUserStatusRequiredMessage_description}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userStatusController.update}" value="#{bundle.Save}" update="display,:UserStatusListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UserStatusEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UserStatusEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
