<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserStatusViewDlg" widgetVar="UserStatusViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUserStatusTitle}">
            <h:form id="UserStatusViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userStatusController.selected != null}">
                        <h:outputText value="#{bundle.ViewUserStatusLabel_id}"/>
                        <h:outputText value="#{userStatusController.selected.id}" title="#{bundle.ViewUserStatusTitle_id}"/>
                        <h:outputText value="#{bundle.ViewUserStatusLabel_name}"/>
                        <h:outputText value="#{userStatusController.selected.name}" title="#{bundle.ViewUserStatusTitle_name}"/>
                        <h:outputText value="#{bundle.ViewUserStatusLabel_description}"/>
                        <h:outputText value="#{userStatusController.selected.description}" title="#{bundle.ViewUserStatusTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UserStatusViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
