<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContainerEditDlg" widgetVar="ContainerEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditContainerTitle}">
            <h:form id="ContainerEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{containerController.selected != null}">
                        <p:outputLabel value="#{bundle.EditContainerLabel_id}" for="id" />
                        <p:inputText disabled="true" id="id" value="#{containerController.selected.id}" title="#{bundle.EditContainerTitle_id}" required="false" requiredMessage="#{bundle.EditContainerRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditContainerLabel_name}" for="name" />
                        <p:inputText id="name" value="#{containerController.selected.name}" title="#{bundle.EditContainerTitle_name}" required="true" requiredMessage="#{bundle.EditContainerRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditContainerLabel_plate}" for="plate" />
                        <p:inputText id="plate" value="#{containerController.selected.plate}" title="#{bundle.EditContainerTitle_plate}" />
                        <p:outputLabel value="#{bundle.EditContainerLabel_type}" for="type" />
                        <p:selectOneMenu id="type" value="#{containerController.selected.type}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{containerTypeController.itemsAvailableSelectOne}"
                                           var="typeItem"
                                           itemLabel="#{typeItem.name}"
                                           itemValue="#{typeItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{containerController.update}" value="#{bundle.Save}" update="display,:ContainerListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ContainerEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContainerEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
