<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContainerViewDlg" widgetVar="ContainerViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewContainerTitle}">
            <h:form id="ContainerViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{containerController.selected != null}">
                        <h:outputText value="#{bundle.ViewContainerLabel_id}"/>
                        <h:outputText value="#{containerController.selected.id}" title="#{bundle.ViewContainerTitle_id}"/>
                        <h:outputText value="#{bundle.ViewContainerLabel_name}"/>
                        <h:outputText value="#{containerController.selected.name}" title="#{bundle.ViewContainerTitle_name}"/>
                        <h:outputText value="#{bundle.ViewContainerLabel_plate}"/>
                        <h:outputText value="#{containerController.selected.plate}" title="#{bundle.ViewContainerTitle_plate}"/>
                        <h:outputText value="#{bundle.ViewContainerLabel_type}"/>
                        <h:outputText value="#{containerController.selected.type.name}" title="#{bundle.ViewContainerTitle_type}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ContainerViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
