<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobAgentRoleCreateDlg" widgetVar="JobAgentRoleCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateJobAgentRoleTitle}">
            <h:form id="JobAgentRoleCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobAgentRoleController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateJobAgentRoleLabel_id}" for="id" />
                        <p:inputText id="id" value="#{jobAgentRoleController.selected.id}" title="#{bundle.CreateJobAgentRoleTitle_id}" required="true" requiredMessage="#{bundle.CreateJobAgentRoleRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateJobAgentRoleLabel_name}" for="name" />
                        <p:inputText id="name" value="#{jobAgentRoleController.selected.name}" title="#{bundle.CreateJobAgentRoleTitle_name}" required="true" requiredMessage="#{bundle.CreateJobAgentRoleRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreateJobAgentRoleLabel_description}" for="description" />
                        <p:inputText id="description" value="#{jobAgentRoleController.selected.description}" title="#{bundle.CreateJobAgentRoleTitle_description}" required="true" requiredMessage="#{bundle.CreateJobAgentRoleRequiredMessage_description}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{jobAgentRoleController.create}" value="#{bundle.Save}" update="display,:JobAgentRoleListForm:datalist,:growl" oncomplete="handleSubmit(args,'JobAgentRoleCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="JobAgentRoleCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
