<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobAgentRoleEditDlg" widgetVar="JobAgentRoleEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditJobAgentRoleTitle}">
            <h:form id="JobAgentRoleEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobAgentRoleController.selected != null}">
                        <p:outputLabel value="#{bundle.EditJobAgentRoleLabel_id}" for="id" />
                        <p:inputText id="id" value="#{jobAgentRoleController.selected.id}" title="#{bundle.EditJobAgentRoleTitle_id}" required="true" requiredMessage="#{bundle.EditJobAgentRoleRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditJobAgentRoleLabel_name}" for="name" />
                        <p:inputText id="name" value="#{jobAgentRoleController.selected.name}" title="#{bundle.EditJobAgentRoleTitle_name}" required="true" requiredMessage="#{bundle.EditJobAgentRoleRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditJobAgentRoleLabel_description}" for="description" />
                        <p:inputText id="description" value="#{jobAgentRoleController.selected.description}" title="#{bundle.EditJobAgentRoleTitle_description}" required="true" requiredMessage="#{bundle.EditJobAgentRoleRequiredMessage_description}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{jobAgentRoleController.update}" value="#{bundle.Save}" update="display,:JobAgentRoleListForm:datalist,:growl" oncomplete="handleSubmit(args, 'JobAgentRoleEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="JobAgentRoleEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
