<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobAgentRoleViewDlg" widgetVar="JobAgentRoleViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewJobAgentRoleTitle}">
            <h:form id="JobAgentRoleViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobAgentRoleController.selected != null}">
                        <h:outputText value="#{bundle.ViewJobAgentRoleLabel_id}"/>
                        <h:outputText value="#{jobAgentRoleController.selected.id}" title="#{bundle.ViewJobAgentRoleTitle_id}"/>
                        <h:outputText value="#{bundle.ViewJobAgentRoleLabel_name}"/>
                        <h:outputText value="#{jobAgentRoleController.selected.name}" title="#{bundle.ViewJobAgentRoleTitle_name}"/>
                        <h:outputText value="#{bundle.ViewJobAgentRoleLabel_description}"/>
                        <h:outputText value="#{jobAgentRoleController.selected.description}" title="#{bundle.ViewJobAgentRoleTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="JobAgentRoleViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
