<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LockEditDlg" widgetVar="LockEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditLockTitle}">
            <h:form id="LockEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{lockController.selected != null}">
                        <p:outputLabel value="#{bundle.EditLockLabel_navixyid}" for="navixyid" />
                        <p:inputText id="navixyid" value="#{lockController.selected.navixyid}" title="#{bundle.EditLockTitle_navixyid}" />
                        <p:outputLabel value="#{bundle.EditLockLabel_jointechid}" for="jointechid" />
                        <p:inputText id="jointechid" value="#{lockController.selected.jointechid}" title="#{bundle.EditLockTitle_jointechid}" />
                        <p:outputLabel value="#{bundle.EditLockLabel_phone}" for="phone" />
                        <p:inputText id="phone" value="#{lockController.selected.phone}" title="#{bundle.EditLockTitle_phone}" />
                        <p:outputLabel value="#{bundle.EditLockLabel_model}" for="model" />
                        <p:inputText id="model" value="#{lockController.selected.model}" title="#{bundle.EditLockTitle_model}" />
                        <p:outputLabel value="#{bundle.EditLockLabel_description}" for="description" />
                        <p:inputText id="description" value="#{lockController.selected.description}" title="#{bundle.EditLockTitle_description}" />
                        <p:outputLabel value="#{bundle.EditLockLabel_id}" for="id" />
                        <p:inputText id="id" value="#{lockController.selected.id}" title="#{bundle.EditLockTitle_id}" required="true" requiredMessage="#{bundle.EditLockRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditLockLabel_status}" for="status" />
                        <p:selectOneMenu id="status" value="#{lockController.selected.status}" required="true" requiredMessage="#{bundle.EditLockRequiredMessage_status}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{lockStatusController.itemsAvailableSelectOne}"
                                           var="statusItem"
                                           itemValue="#{statusItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{lockController.update}" value="#{bundle.Save}" update="display,:LockListForm:datalist,:growl" oncomplete="handleSubmit(args, 'LockEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LockEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
