<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LockViewDlg" widgetVar="LockViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLockTitle}">
            <h:form id="LockViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{lockController.selected != null}">
                        <h:outputText value="#{bundle.ViewLockLabel_navixyid}"/>
                        <h:outputText value="#{lockController.selected.navixyid}" title="#{bundle.ViewLockTitle_navixyid}"/>
                        <h:outputText value="#{bundle.ViewLockLabel_jointechid}"/>
                        <h:outputText value="#{lockController.selected.jointechid}" title="#{bundle.ViewLockTitle_jointechid}"/>
                        <h:outputText value="#{bundle.ViewLockLabel_phone}"/>
                        <h:outputText value="#{lockController.selected.phone}" title="#{bundle.ViewLockTitle_phone}"/>
                        <h:outputText value="#{bundle.ViewLockLabel_model}"/>
                        <h:outputText value="#{lockController.selected.model}" title="#{bundle.ViewLockTitle_model}"/>
                        <h:outputText value="#{bundle.ViewLockLabel_description}"/>
                        <h:outputText value="#{lockController.selected.description}" title="#{bundle.ViewLockTitle_description}"/>
                        <h:outputText value="#{bundle.ViewLockLabel_id}"/>
                        <h:outputText value="#{lockController.selected.id}" title="#{bundle.ViewLockTitle_id}"/>
                        <h:outputText value="#{bundle.ViewLockLabel_status}"/>
                        <h:outputText value="#{lockController.selected.status}" title="#{bundle.ViewLockTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LockViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
