<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobTypeCreateDlg" widgetVar="JobTypeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateJobTypeTitle}">
            <h:form id="JobTypeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobTypeController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateJobTypeLabel_id}" for="id" />
                        <p:inputText id="id" value="#{jobTypeController.selected.id}" title="#{bundle.CreateJobTypeTitle_id}" required="true" requiredMessage="#{bundle.CreateJobTypeRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateJobTypeLabel_name}" for="name" />
                        <p:inputText id="name" value="#{jobTypeController.selected.name}" title="#{bundle.CreateJobTypeTitle_name}" required="true" requiredMessage="#{bundle.CreateJobTypeRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreateJobTypeLabel_description}" for="description" />
                        <p:inputText id="description" value="#{jobTypeController.selected.description}" title="#{bundle.CreateJobTypeTitle_description}" required="true" requiredMessage="#{bundle.CreateJobTypeRequiredMessage_description}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{jobTypeController.create}" value="#{bundle.Save}" update="display,:JobTypeListForm:datalist,:growl" oncomplete="handleSubmit(args,'JobTypeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="JobTypeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
