<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobTypeEditDlg" widgetVar="JobTypeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditJobTypeTitle}">
            <h:form id="JobTypeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobTypeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditJobTypeLabel_id}" for="id" />
                        <p:inputText id="id" value="#{jobTypeController.selected.id}" title="#{bundle.EditJobTypeTitle_id}" required="true" requiredMessage="#{bundle.EditJobTypeRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditJobTypeLabel_name}" for="name" />
                        <p:inputText id="name" value="#{jobTypeController.selected.name}" title="#{bundle.EditJobTypeTitle_name}" required="true" requiredMessage="#{bundle.EditJobTypeRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditJobTypeLabel_description}" for="description" />
                        <p:inputText id="description" value="#{jobTypeController.selected.description}" title="#{bundle.EditJobTypeTitle_description}" required="true" requiredMessage="#{bundle.EditJobTypeRequiredMessage_description}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{jobTypeController.update}" value="#{bundle.Save}" update="display,:JobTypeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'JobTypeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="JobTypeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
