<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobTypeViewDlg" widgetVar="JobTypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewJobTypeTitle}">
            <h:form id="JobTypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobTypeController.selected != null}">
                        <h:outputText value="#{bundle.ViewJobTypeLabel_id}"/>
                        <h:outputText value="#{jobTypeController.selected.id}" title="#{bundle.ViewJobTypeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewJobTypeLabel_name}"/>
                        <h:outputText value="#{jobTypeController.selected.name}" title="#{bundle.ViewJobTypeTitle_name}"/>
                        <h:outputText value="#{bundle.ViewJobTypeLabel_description}"/>
                        <h:outputText value="#{jobTypeController.selected.description}" title="#{bundle.ViewJobTypeTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="JobTypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
