<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserEditDlg" widgetVar="UserEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUserTitle}">
            <h:form id="UserEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUserLabel_login}" for="login" />
                        <p:inputText id="login" value="#{userController.selected.login}" title="#{bundle.EditUserTitle_login}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_login}"/>
                        <p:outputLabel value="#{bundle.EditUserLabel_password}" for="password" />
                        <p:inputText id="password" value="#{userController.selected.password}" title="#{bundle.EditUserTitle_password}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_password}"/>
                        <p:outputLabel value="#{bundle.EditUserLabel_firstname}" for="firstname" />
                        <p:inputText id="firstname" value="#{userController.selected.firstname}" title="#{bundle.EditUserTitle_firstname}" />
                        <p:outputLabel value="#{bundle.EditUserLabel_lastname}" for="lastname" />
                        <p:inputText id="lastname" value="#{userController.selected.lastname}" title="#{bundle.EditUserTitle_lastname}" />
                        <p:outputLabel value="#{bundle.EditUserLabel_address}" for="address" />
                        <p:inputText id="address" value="#{userController.selected.address}" title="#{bundle.EditUserTitle_address}" />
                        <p:outputLabel value="#{bundle.EditUserLabel_id}" for="id" />
                        <p:inputText id="id" value="#{userController.selected.id}" title="#{bundle.EditUserTitle_id}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditUserLabel_client}" for="client" />
                        <p:selectOneMenu id="client" value="#{userController.selected.client}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_client}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clientController.itemsAvailableSelectOne}"
                                           var="clientItem"
                                           itemValue="#{clientItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditUserLabel_status}" for="status" />
                        <p:selectOneMenu id="status" value="#{userController.selected.status}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_status}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{userStatusController.itemsAvailableSelectOne}"
                                           var="statusItem"
                                           itemValue="#{statusItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userController.update}" value="#{bundle.Save}" update="display,:UserListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UserEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UserEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
