<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserViewDlg" widgetVar="UserViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUserTitle}">
            <h:form id="UserViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userController.selected != null}">
                        <h:outputText value="#{bundle.ViewUserLabel_login}"/>
                        <h:outputText value="#{userController.selected.login}" title="#{bundle.ViewUserTitle_login}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_password}"/>
                        <h:outputText value="#{userController.selected.password}" title="#{bundle.ViewUserTitle_password}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_firstname}"/>
                        <h:outputText value="#{userController.selected.firstname}" title="#{bundle.ViewUserTitle_firstname}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_lastname}"/>
                        <h:outputText value="#{userController.selected.lastname}" title="#{bundle.ViewUserTitle_lastname}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_address}"/>
                        <h:outputText value="#{userController.selected.address}" title="#{bundle.ViewUserTitle_address}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_id}"/>
                        <h:outputText value="#{userController.selected.id}" title="#{bundle.ViewUserTitle_id}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_client}"/>
                        <h:outputText value="#{userController.selected.client}" title="#{bundle.ViewUserTitle_client}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_status}"/>
                        <h:outputText value="#{userController.selected.status}" title="#{bundle.ViewUserTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UserViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
