<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobEditDlg" widgetVar="JobEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditJobTitle}">
            <h:form id="JobEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobController.selected != null}">
                        <p:outputLabel value="#{bundle.EditJobLabel_name}" for="name" />
                        <p:inputText id="name" value="#{jobController.selected.name}" title="#{bundle.EditJobTitle_name}" required="true" requiredMessage="#{bundle.EditJobRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditJobLabel_id}" for="id" />
                        <p:inputText id="id" value="#{jobController.selected.id}" title="#{bundle.EditJobTitle_id}" required="true" requiredMessage="#{bundle.EditJobRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditJobLabel_cat}" for="cat" />
                        <p:inputText id="cat" value="#{jobController.selected.cat}" title="#{bundle.EditJobTitle_cat}" />
                        <p:outputLabel value="#{bundle.EditJobLabel_cud}" for="cud" />
                        <p:inputText id="cud" value="#{jobController.selected.cud}" title="#{bundle.EditJobTitle_cud}" />
                        <p:outputLabel value="#{bundle.EditJobLabel_created}" for="created" />
                        <p:calendar id="created" pattern="MM/dd/yyyy" value="#{jobController.selected.created}" title="#{bundle.EditJobTitle_created}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditJobLabel_modified}" for="modified" />
                        <p:calendar id="modified" pattern="MM/dd/yyyy" value="#{jobController.selected.modified}" title="#{bundle.EditJobTitle_modified}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditJobLabel_client}" for="client" />
                        <p:selectOneMenu id="client" value="#{jobController.selected.client}" required="true" requiredMessage="#{bundle.EditJobRequiredMessage_client}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clientController.itemsAvailableSelectOne}"
                                           var="clientItem"
                                           itemLabel="#{clientItem.name}"
                                           itemValue="#{clientItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditJobLabel_container}" for="container" />
                        <p:selectOneMenu id="container" value="#{jobController.selected.container}" required="true" requiredMessage="#{bundle.EditJobRequiredMessage_container}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{containerController.itemsAvailableSelectOne}"
                                           var="containerItem"
                                           itemLabel="#{containerItem.name}"
                                           itemValue="#{containerItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditJobLabel_driver}" for="driver" />
                        <p:selectOneMenu id="driver" value="#{jobController.selected.driver}" required="true" requiredMessage="#{bundle.EditJobRequiredMessage_driver}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{jobAgentController.itemsAvailableSelectOne}"
                                           var="driverItem"
                                           itemLabel="#{driverItem.lastname}, #{driverItem.firstname}"
                                           itemValue="#{driverItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditJobLabel_responsible}" for="responsible" />
                        <p:selectOneMenu id="responsible" value="#{jobController.selected.responsible}" required="true" requiredMessage="#{bundle.EditJobRequiredMessage_responsible}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{jobAgentController.itemsAvailableSelectOne}"
                                           var="responsibleItem"
                                           itemLabel="#{responsibleItem.lastname}, #{responsibleItem.firstname}"
                                           itemValue="#{responsibleItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditJobLabel_status}" for="status" />
                        <p:selectOneMenu id="status" value="#{jobController.selected.status}" required="true" requiredMessage="#{bundle.EditJobRequiredMessage_status}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{jobStatusController.itemsAvailableSelectOne}"
                                           var="statusItem"
                                           itemLabel="#{statusItem.seqnum} - #{statusItem.name}"
                                           itemValue="#{statusItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditJobLabel_type}" for="type" />
                        <p:selectOneMenu id="type" value="#{jobController.selected.type}" required="true" requiredMessage="#{bundle.EditJobRequiredMessage_type}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{jobTypeController.itemsAvailableSelectOne}"
                                           var="typeItem"
                                           itemLabel="#{typeItem.name}"
                                           itemValue="#{typeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditJobLabel_destination}" for="destination" />
                        <p:selectOneMenu id="destination" value="#{jobController.selected.destination}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{locationEndController.itemsAvailableSelectOne}"
                                           var="destinationItem"
                                           itemValue="#{destinationItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditJobLabel_origin}" for="origin" />
                        <p:selectOneMenu id="origin" value="#{jobController.selected.origin}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{locationStartController.itemsAvailableSelectOne}"
                                           var="originItem"
                                           itemValue="#{originItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditJobLabel_lock}" for="lock" />
                        <p:selectOneMenu id="lock" value="#{jobController.selected.lock}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{lockController.itemsAvailableSelectOne}"
                                           var="lockItem"
                                           itemLabel="#{lockItem.description}"
                                           itemValue="#{lockItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditJobLabel_user}" for="user" />
                        <p:selectOneMenu id="user" value="#{jobController.selected.user}" required="true" requiredMessage="#{bundle.EditJobRequiredMessage_user}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="userItem"
                                           itemLabel="#{userItem.lastname}, #{userItem.firstname}"
                                           itemValue="#{userItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{jobController.update}" value="#{bundle.Save}" update="display,:JobListForm:datalist,:growl" oncomplete="handleSubmit(args, 'JobEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="JobEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
