<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListJobTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="JobListForm">
                <p:panel header="#{bundle.ListJobTitle}">
                    <p:dataTable id="datalist" value="#{jobController.items}" var="item"
                                 selectionMode="single" selection="#{jobController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <!--p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column-->
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_cat}"/>
                            </f:facet>
                            <h:outputText value="#{item.cat}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_cud}"/>
                            </f:facet>
                            <h:outputText value="#{item.cud}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_created}"/>
                            </f:facet>
                            <h:outputText value="#{item.created}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_modified}"/>
                            </f:facet>
                            <h:outputText value="#{item.modified}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_client}"/>
                            </f:facet>
                            <h:outputText value="#{item.client.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_container}"/>
                            </f:facet>
                            <h:outputText value="#{item.container.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_driver}"/>
                            </f:facet>
                            <h:outputText value="#{item.driver.lastname}, #{item.driver.firstname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_responsible}"/>
                            </f:facet>
                            <h:outputText value="#{item.responsible.lastname}, #{item.responsible.firstname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status.seqnum} - #{item.status.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_destination}"/>
                            </f:facet>
                            <h:outputText value="#{item.destination}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_origin}"/>
                            </f:facet>
                            <h:outputText value="#{item.origin}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_lock}"/>
                            </f:facet>
                            <h:outputText value="#{item.lock.description}"/>
                        </p:column>
<!--                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobTitle_user}"/>
                            </f:facet>
                            <h:outputText value="#{item.user.lastname}, #{item.user.firstname}"/>
                        </p:column>-->
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{jobController.prepareCreate}" update=":JobCreateForm" oncomplete="PF('JobCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":JobViewForm" oncomplete="PF('JobViewDialog').show()" disabled="#{empty jobController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":JobEditForm" oncomplete="PF('JobEditDialog').show()" disabled="#{empty jobController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{jobController.destroy}" update=":growl,datalist" disabled="#{empty jobController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
