<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobViewDlg" widgetVar="JobViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewJobTitle}">
            <h:form id="JobViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobController.selected != null}">
                        <h:outputText value="#{bundle.ViewJobLabel_name}"/>
                        <h:outputText value="#{jobController.selected.name}" title="#{bundle.ViewJobTitle_name}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_id}"/>
                        <h:outputText value="#{jobController.selected.id}" title="#{bundle.ViewJobTitle_id}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_cat}"/>
                        <h:outputText value="#{jobController.selected.cat}" title="#{bundle.ViewJobTitle_cat}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_cud}"/>
                        <h:outputText value="#{jobController.selected.cud}" title="#{bundle.ViewJobTitle_cud}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_created}"/>
                        <h:outputText value="#{jobController.selected.created}" title="#{bundle.ViewJobTitle_created}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewJobLabel_modified}"/>
                        <h:outputText value="#{jobController.selected.modified}" title="#{bundle.ViewJobTitle_modified}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewJobLabel_client}"/>
                        <h:outputText value="#{jobController.selected.client.name}" title="#{bundle.ViewJobTitle_client}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_container}"/>
                        <h:outputText value="#{jobController.selected.container.name}" title="#{bundle.ViewJobTitle_container}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_driver}"/>
                        <h:outputText value="#{jobController.selected.driver.lastname}, #{jobController.selected.driver.firstname}" title="#{bundle.ViewJobTitle_driver}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_responsible}"/>
                        <h:outputText value="#{jobController.selected.responsible.lastname}, #{jobController.selected.responsible.firstname}" title="#{bundle.ViewJobTitle_responsible}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_status}"/>
                        <h:outputText value="#{jobController.selected.status.seqnum} - #{jobController.selected.status.name}" title="#{bundle.ViewJobTitle_status}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_type}"/>
                        <h:outputText value="#{jobController.selected.type.name}" title="#{bundle.ViewJobTitle_type}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_destination}"/>
                        <h:outputText value="#{jobController.selected.destination}" title="#{bundle.ViewJobTitle_destination}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_origin}"/>
                        <h:outputText value="#{jobController.selected.origin}" title="#{bundle.ViewJobTitle_origin}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_lock}"/>
                        <h:outputText value="#{jobController.selected.lock.description}" title="#{bundle.ViewJobTitle_lock}"/>
                        <h:outputText value="#{bundle.ViewJobLabel_user}"/>
                        <h:outputText value="#{jobController.selected.user}" title="#{bundle.ViewJobTitle_user}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="JobViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
