<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientStatusCreateDlg" widgetVar="ClientStatusCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateClientStatusTitle}">
            <h:form id="ClientStatusCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientStatusController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateClientStatusLabel_name}" for="name" />
                        <p:inputText id="name" value="#{clientStatusController.selected.name}" title="#{bundle.CreateClientStatusTitle_name}" required="true" requiredMessage="#{bundle.CreateClientStatusRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreateClientStatusLabel_description}" for="description" />
                        <p:inputText id="description" value="#{clientStatusController.selected.description}" title="#{bundle.CreateClientStatusTitle_description}" required="true" requiredMessage="#{bundle.CreateClientStatusRequiredMessage_description}"/>
                        <p:outputLabel value="#{bundle.CreateClientStatusLabel_id}" for="id" />
                        <p:inputText id="id" value="#{clientStatusController.selected.id}" title="#{bundle.CreateClientStatusTitle_id}" required="false" requiredMessage="#{bundle.CreateClientStatusRequiredMessage_id}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientStatusController.create}" value="#{bundle.Save}" update="display,:ClientStatusListForm:datalist,:growl" oncomplete="handleSubmit(args,'ClientStatusCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClientStatusCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
