<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientStatusViewDlg" widgetVar="ClientStatusViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewClientStatusTitle}">
            <h:form id="ClientStatusViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientStatusController.selected != null}">
                        <h:outputText value="#{bundle.ViewClientStatusLabel_name}"/>
                        <h:outputText value="#{clientStatusController.selected.name}" title="#{bundle.ViewClientStatusTitle_name}"/>
                        <h:outputText value="#{bundle.ViewClientStatusLabel_description}"/>
                        <h:outputText value="#{clientStatusController.selected.description}" title="#{bundle.ViewClientStatusTitle_description}"/>
                        <h:outputText value="#{bundle.ViewClientStatusLabel_id}"/>
                        <h:outputText value="#{clientStatusController.selected.id}" title="#{bundle.ViewClientStatusTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ClientStatusViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
