<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobStatusCreateDlg" widgetVar="JobStatusCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateJobStatusTitle}">
            <h:form id="JobStatusCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobStatusController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateJobStatusLabel_name}" for="name" />
                        <p:inputText id="name" value="#{jobStatusController.selected.name}" title="#{bundle.CreateJobStatusTitle_name}" required="true" requiredMessage="#{bundle.CreateJobStatusRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreateJobStatusLabel_seqnum}" for="seqnum" />
                        <p:inputText id="seqnum" value="#{jobStatusController.selected.seqnum}" title="#{bundle.CreateJobStatusTitle_seqnum}" required="true" requiredMessage="#{bundle.CreateJobStatusRequiredMessage_seqnum}"/>
                        <p:outputLabel value="#{bundle.CreateJobStatusLabel_description}" for="description" />
                        <p:inputText id="description" value="#{jobStatusController.selected.description}" title="#{bundle.CreateJobStatusTitle_description}" required="true" requiredMessage="#{bundle.CreateJobStatusRequiredMessage_description}"/>
                        <p:outputLabel value="#{bundle.CreateJobStatusLabel_id}" for="id" />
                        <p:inputText id="id" value="#{jobStatusController.selected.id}" title="#{bundle.CreateJobStatusTitle_id}" required="true" requiredMessage="#{bundle.CreateJobStatusRequiredMessage_id}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{jobStatusController.create}" value="#{bundle.Save}" update="display,:JobStatusListForm:datalist,:growl" oncomplete="handleSubmit(args,'JobStatusCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="JobStatusCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
