<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobStatusEditDlg" widgetVar="JobStatusEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditJobStatusTitle}">
            <h:form id="JobStatusEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobStatusController.selected != null}">
                        <p:outputLabel value="#{bundle.EditJobStatusLabel_name}" for="name" />
                        <p:inputText id="name" value="#{jobStatusController.selected.name}" title="#{bundle.EditJobStatusTitle_name}" required="true" requiredMessage="#{bundle.EditJobStatusRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditJobStatusLabel_seqnum}" for="seqnum" />
                        <p:inputText id="seqnum" value="#{jobStatusController.selected.seqnum}" title="#{bundle.EditJobStatusTitle_seqnum}" required="true" requiredMessage="#{bundle.EditJobStatusRequiredMessage_seqnum}"/>
                        <p:outputLabel value="#{bundle.EditJobStatusLabel_description}" for="description" />
                        <p:inputText id="description" value="#{jobStatusController.selected.description}" title="#{bundle.EditJobStatusTitle_description}" required="true" requiredMessage="#{bundle.EditJobStatusRequiredMessage_description}"/>
                        <p:outputLabel value="#{bundle.EditJobStatusLabel_id}" for="id" />
                        <p:inputText id="id" value="#{jobStatusController.selected.id}" title="#{bundle.EditJobStatusTitle_id}" required="true" requiredMessage="#{bundle.EditJobStatusRequiredMessage_id}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{jobStatusController.update}" value="#{bundle.Save}" update="display,:JobStatusListForm:datalist,:growl" oncomplete="handleSubmit(args, 'JobStatusEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="JobStatusEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
