<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobStatusViewDlg" widgetVar="JobStatusViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewJobStatusTitle}">
            <h:form id="JobStatusViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobStatusController.selected != null}">
                        <h:outputText value="#{bundle.ViewJobStatusLabel_name}"/>
                        <h:outputText value="#{jobStatusController.selected.name}" title="#{bundle.ViewJobStatusTitle_name}"/>
                        <h:outputText value="#{bundle.ViewJobStatusLabel_seqnum}"/>
                        <h:outputText value="#{jobStatusController.selected.seqnum}" title="#{bundle.ViewJobStatusTitle_seqnum}"/>
                        <h:outputText value="#{bundle.ViewJobStatusLabel_description}"/>
                        <h:outputText value="#{jobStatusController.selected.description}" title="#{bundle.ViewJobStatusTitle_description}"/>
                        <h:outputText value="#{bundle.ViewJobStatusLabel_id}"/>
                        <h:outputText value="#{jobStatusController.selected.id}" title="#{bundle.ViewJobStatusTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="JobStatusViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
