<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContainerTypeEditDlg" widgetVar="ContainerTypeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditContainerTypeTitle}">
            <h:form id="ContainerTypeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{containerTypeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditContainerTypeLabel_id}" for="id" />
                        <p:inputText id="id" value="#{containerTypeController.selected.id}" title="#{bundle.EditContainerTypeTitle_id}" required="true" requiredMessage="#{bundle.EditContainerTypeRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditContainerTypeLabel_name}" for="name" />
                        <p:inputText id="name" value="#{containerTypeController.selected.name}" title="#{bundle.EditContainerTypeTitle_name}" required="true" requiredMessage="#{bundle.EditContainerTypeRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditContainerTypeLabel_description}" for="description" />
                        <p:inputText id="description" value="#{containerTypeController.selected.description}" title="#{bundle.EditContainerTypeTitle_description}" required="true" requiredMessage="#{bundle.EditContainerTypeRequiredMessage_description}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{containerTypeController.update}" value="#{bundle.Save}" update="display,:ContainerTypeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ContainerTypeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContainerTypeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
