<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContainerTypeViewDlg" widgetVar="ContainerTypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewContainerTypeTitle}">
            <h:form id="ContainerTypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{containerTypeController.selected != null}">
                        <h:outputText value="#{bundle.ViewContainerTypeLabel_id}"/>
                        <h:outputText value="#{containerTypeController.selected.id}" title="#{bundle.ViewContainerTypeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewContainerTypeLabel_name}"/>
                        <h:outputText value="#{containerTypeController.selected.name}" title="#{bundle.ViewContainerTypeTitle_name}"/>
                        <h:outputText value="#{bundle.ViewContainerTypeLabel_description}"/>
                        <h:outputText value="#{containerTypeController.selected.description}" title="#{bundle.ViewContainerTypeTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ContainerTypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
