<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LockStatusEditDlg" widgetVar="LockStatusEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditLockStatusTitle}">
            <h:form id="LockStatusEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{lockStatusController.selected != null}">
                        <p:outputLabel value="#{bundle.EditLockStatusLabel_name}" for="name" />
                        <p:inputText id="name" value="#{lockStatusController.selected.name}" title="#{bundle.EditLockStatusTitle_name}" required="true" requiredMessage="#{bundle.EditLockStatusRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditLockStatusLabel_description}" for="description" />
                        <p:inputText id="description" value="#{lockStatusController.selected.description}" title="#{bundle.EditLockStatusTitle_description}" required="true" requiredMessage="#{bundle.EditLockStatusRequiredMessage_description}"/>
<!--                        <p:outputLabel value="#{bundle.EditLockStatusLabel_id}" for="id" />
                        <p:inputText id="id" value="#{lockStatusController.selected.id}" title="#{bundle.EditLockStatusTitle_id}" required="true" requiredMessage="#{bundle.EditLockStatusRequiredMessage_id}"/>-->
                    </p:panelGrid>
                    <p:commandButton actionListener="#{lockStatusController.update}" value="#{bundle.Save}" update="display,:LockStatusListForm:datalist,:growl" oncomplete="handleSubmit(args, 'LockStatusEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LockStatusEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
