<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LockStatusViewDlg" widgetVar="LockStatusViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLockStatusTitle}">
            <h:form id="LockStatusViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{lockStatusController.selected != null}">
                        <h:outputText value="#{bundle.ViewLockStatusLabel_name}"/>
                        <h:outputText value="#{lockStatusController.selected.name}" title="#{bundle.ViewLockStatusTitle_name}"/>
                        <h:outputText value="#{bundle.ViewLockStatusLabel_description}"/>
                        <h:outputText value="#{lockStatusController.selected.description}" title="#{bundle.ViewLockStatusTitle_description}"/>
<!--                        <h:outputText value="#{bundle.ViewLockStatusLabel_id}"/>
                        <h:outputText value="#{lockStatusController.selected.id}" title="#{bundle.ViewLockStatusTitle_id}"/>-->
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LockStatusViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
