<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobAgentEditDlg" widgetVar="JobAgentEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditJobAgentTitle}">
            <h:form id="JobAgentEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobAgentController.selected != null}">
                        <p:outputLabel value="#{bundle.EditJobAgentLabel_firstname}" for="firstname" />
                        <p:inputText id="firstname" value="#{jobAgentController.selected.firstname}" title="#{bundle.EditJobAgentTitle_firstname}" required="true" requiredMessage="#{bundle.EditJobAgentRequiredMessage_firstname}"/>
                        <p:outputLabel value="#{bundle.EditJobAgentLabel_lastname}" for="lastname" />
                        <p:inputText id="lastname" value="#{jobAgentController.selected.lastname}" title="#{bundle.EditJobAgentTitle_lastname}" required="true" requiredMessage="#{bundle.EditJobAgentRequiredMessage_lastname}"/>
                        <p:outputLabel value="#{bundle.EditJobAgentLabel_documentid}" for="documentid" />
                        <p:inputText id="documentid" value="#{jobAgentController.selected.documentid}" title="#{bundle.EditJobAgentTitle_documentid}" required="true" requiredMessage="#{bundle.EditJobAgentRequiredMessage_documentid}"/>
                        <p:outputLabel value="#{bundle.EditJobAgentLabel_email}" for="email" />
                        <p:inputText id="email" value="#{jobAgentController.selected.email}" title="#{bundle.EditJobAgentTitle_email}" required="true" requiredMessage="#{bundle.EditJobAgentRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.EditJobAgentLabel_cellphone}" for="cellphone" />
                        <p:inputText id="cellphone" value="#{jobAgentController.selected.cellphone}" title="#{bundle.EditJobAgentTitle_cellphone}" required="true" requiredMessage="#{bundle.EditJobAgentRequiredMessage_cellphone}"/>
                        <p:outputLabel value="#{bundle.EditJobAgentLabel_id}" for="id" />
                        <p:inputText id="id" value="#{jobAgentController.selected.id}" title="#{bundle.EditJobAgentTitle_id}" required="true" requiredMessage="#{bundle.EditJobAgentRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditJobAgentLabel_client}" for="client" />
                        <p:selectOneMenu id="client" value="#{jobAgentController.selected.client}" required="true" requiredMessage="#{bundle.EditJobAgentRequiredMessage_client}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clientController.itemsAvailableSelectOne}"
                                           var="clientItem"
                                           itemValue="#{clientItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditJobAgentLabel_role}" for="role" />
                        <p:selectOneMenu id="role" value="#{jobAgentController.selected.role}" required="true" requiredMessage="#{bundle.EditJobAgentRequiredMessage_role}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{jobAgentRoleController.itemsAvailableSelectOne}"
                                           var="roleItem"
                                           itemValue="#{roleItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{jobAgentController.update}" value="#{bundle.Save}" update="display,:JobAgentListForm:datalist,:growl" oncomplete="handleSubmit(args, 'JobAgentEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="JobAgentEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
