<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListJobAgentTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="JobAgentListForm">
                <p:panel header="#{bundle.ListJobAgentTitle}">
                    <p:dataTable id="datalist" value="#{jobAgentController.items}" var="item"
                                 selectionMode="single" selection="#{jobAgentController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobAgentTitle_firstname}"/>
                            </f:facet>
                            <h:outputText value="#{item.firstname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobAgentTitle_lastname}"/>
                            </f:facet>
                            <h:outputText value="#{item.lastname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobAgentTitle_documentid}"/>
                            </f:facet>
                            <h:outputText value="#{item.documentid}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobAgentTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobAgentTitle_cellphone}"/>
                            </f:facet>
                            <h:outputText value="#{item.cellphone}"/>
                        </p:column>
<!--                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobAgentTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>-->
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobAgentTitle_client}"/>
                            </f:facet>
                            <h:outputText value="#{item.client.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJobAgentTitle_role}"/>
                            </f:facet>
                            <h:outputText value="#{item.role.name}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{jobAgentController.prepareCreate}" update=":JobAgentCreateForm" oncomplete="PF('JobAgentCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":JobAgentViewForm" oncomplete="PF('JobAgentViewDialog').show()" disabled="#{empty jobAgentController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":JobAgentEditForm" oncomplete="PF('JobAgentEditDialog').show()" disabled="#{empty jobAgentController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{jobAgentController.destroy}" update=":growl,datalist" disabled="#{empty jobAgentController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
