<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JobAgentViewDlg" widgetVar="JobAgentViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewJobAgentTitle}">
            <h:form id="JobAgentViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jobAgentController.selected != null}">
                        <h:outputText value="#{bundle.ViewJobAgentLabel_firstname}"/>
                        <h:outputText value="#{jobAgentController.selected.firstname}" title="#{bundle.ViewJobAgentTitle_firstname}"/>
                        <h:outputText value="#{bundle.ViewJobAgentLabel_lastname}"/>
                        <h:outputText value="#{jobAgentController.selected.lastname}" title="#{bundle.ViewJobAgentTitle_lastname}"/>
                        <h:outputText value="#{bundle.ViewJobAgentLabel_documentid}"/>
                        <h:outputText value="#{jobAgentController.selected.documentid}" title="#{bundle.ViewJobAgentTitle_documentid}"/>
                        <h:outputText value="#{bundle.ViewJobAgentLabel_email}"/>
                        <h:outputText value="#{jobAgentController.selected.email}" title="#{bundle.ViewJobAgentTitle_email}"/>
                        <h:outputText value="#{bundle.ViewJobAgentLabel_cellphone}"/>
                        <h:outputText value="#{jobAgentController.selected.cellphone}" title="#{bundle.ViewJobAgentTitle_cellphone}"/>
                        <h:outputText value="#{bundle.ViewJobAgentLabel_id}"/>
                        <h:outputText value="#{jobAgentController.selected.id}" title="#{bundle.ViewJobAgentTitle_id}"/>
                        <h:outputText value="#{bundle.ViewJobAgentLabel_client}"/>
                        <h:outputText value="#{jobAgentController.selected.client}" title="#{bundle.ViewJobAgentTitle_client}"/>
                        <h:outputText value="#{bundle.ViewJobAgentLabel_role}"/>
                        <h:outputText value="#{jobAgentController.selected.role}" title="#{bundle.ViewJobAgentTitle_role}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="JobAgentViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
