<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/client/List" value="Show All Client Items"/>
        <br />
        <h:link outcome="/clientStatus/List" value="Show All ClientStatus Items"/>
        <br />
        <h:link outcome="/container/List" value="Show All Container Items"/>
        <br />
        <h:link outcome="/containerType/List" value="Show All ContainerType Items"/>
        <br />
        <h:link outcome="/job/List" value="Show All Job Items"/>
        <br />
        <h:link outcome="/jobAgent/List" value="Show All JobAgent Items"/>
        <br />
        <h:link outcome="/jobAgentRole/List" value="Show All JobAgentRole Items"/>
        <br />
        <h:link outcome="/jobStatus/List" value="Show All JobStatus Items"/>
        <br />
        <h:link outcome="/jobType/List" value="Show All JobType Items"/>
        <br />
        <h:link outcome="/locationEnd/List" value="Show All LocationEnd Items"/>
        <br />
        <h:link outcome="/locationStart/List" value="Show All LocationStart Items"/>
        <br />
        <h:link outcome="/lock/List" value="Show All Lock Items"/>
        <br />
        <h:link outcome="/lockStatus/List" value="Show All LockStatus Items"/>
        <br />
        <h:link outcome="/user/List" value="Show All User Items"/>
        <br />
        <h:link outcome="/userStatus/List" value="Show All UserStatus Items"/>
    </h:body>















</html>

