<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />
                
        

                
                
        <p:layout fullPage="true">
            
            <p:layoutUnit position="north" size="65" header="Aplicacion de DGA Mantenimiento de BBDD - #{bundle.AppName}">
                
       
<!--     
                                            <center>  <h1>  <h:outputText value="Aplicacion de DGA Mantenimiento de BBDD"/> </h1> </center>
                                            <BR /><BR /><BR />-->

                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                        <p:submenu label="#{bundle.Maintenance}">
                            <p:menuitem value="Client" outcome="/client/List.xhtml" />
                            <p:menuitem value="ClientStatus" outcome="/clientStatus/List.xhtml" />
                            <p:menuitem value="Container" outcome="/container/List.xhtml" />
                            <p:menuitem value="ContainerType" outcome="/containerType/List.xhtml" />
                            <p:menuitem value="Job" outcome="/job/List.xhtml" />
                            <p:menuitem value="JobAgent" outcome="/jobAgent/List.xhtml" />
                            <p:menuitem value="JobAgentRole" outcome="/jobAgentRole/List.xhtml" />
                            <p:menuitem value="JobStatus" outcome="/jobStatus/List.xhtml" />
                            <p:menuitem value="JobType" outcome="/jobType/List.xhtml" />
                            <p:menuitem value="LocationEnd" outcome="/locationEnd/List.xhtml" />
                            <p:menuitem value="LocationStart" outcome="/locationStart/List.xhtml" />
                            <p:menuitem value="Lock" outcome="/lock/List.xhtml" />
                            <p:menuitem value="LockStatus" outcome="/lockStatus/List.xhtml" />
                            <p:menuitem value="User" outcome="/user/List.xhtml" />
                            <p:menuitem value="UserStatus" outcome="/userStatus/List.xhtml" />
                        </p:submenu>
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
